body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.home-part {
    background-image: url(images/donation6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 100px;
}

.home-part-content {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0px 300px;
    color: #fff;
    text-align: center;
}

.home-part-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

.home-part-content p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.donate-now-button {
    padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #12c6c6;
    border: 0;
    color: #ffffff;
}

.donate-today {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.donate-today-header h1 {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bold;
}

.donate-today-header p {
    font-size: 1.1rem;
    margin-bottom: 45px;
    color: #555555;
}

.donate-amount span {
    padding: 30px 15px;
    margin-bottom: 50px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background-color: #f7f7f7;
    margin-right: 10px;
    color: #555555;
}

.donate-amount span.active {
    border: 2px solid #12c6c6;
    color: #12c6c6;
    background-color: #12c6c625;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.input-field input {
    border: 0;
    width: 635px;
    border-bottom: 1px solid #12c6c6;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
}

.input-field input:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #12c6c6;
}

.donate-plan .donate-plan-header {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.donate-plan .donate-plan-header h1 {
    margin-bottom: 20px;
}

.donate-plan .donate-plan-header p {
    margin-bottom: 20px;
}

.donate-plan-box {
    display: flex;
    flex-direction: row;
    padding: 0px 170px;
    margin-bottom: 100px;
}

.donate-plan-box img {
    width: 17%;
    margin-bottom: 15px;
}

.donate-plan-box h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}

.donate-plan-box p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #555555;
}

.donate-plan-box-1 {
    background-color: rgba(127, 255, 212, 0.136);
    padding: 54px 30px;
    margin-right: 20px;
}

.donate-plan-box-2 {
    background-color: rgba(218, 165, 32, 0.18);
    margin-right: 20px;
    padding: 54px 30px;
}

.donate-plan-box-3 {
    background-color: rgba(128, 255, 0, 0.122);
    padding: 54px 30px;
}

.donation-section {
    display: flex;
    padding: 10px 170px;
}

.donation-section .donation-details {
    padding: 30px 0px;
}

.donation-section .donation-details h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.donation-section .donation-details p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555555;
}

.donation-img img {
    width: 400px;
    height: 350px;
}

.donation-details-2 {
    padding: 25px 30px !important;
}

.donation-section-2 {
    margin-top: 50px;
}

.donation-main {
    margin-bottom: 50px;
}

.update-section {
    margin-bottom: 50px;
}

.update-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.update-section .email-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 80px;
    background-color: #12c6c628;
    width: 600px;
    margin: auto;
}

.email-form input {
    padding: 15px 35px;
    border: 0;
    background-color: #cccccc;
    text-align: left;
    padding:12px 35px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

.email-form input:focus {
    border: 0;
    outline: 0;
}

.email-form label {
    color: white;
    background-color: #12c6c6;
    padding: 13px 25px;
}