body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.home-part {
    background-image: url(images/donation6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 100px;
}

.home-part-content {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0px 300px;
    color: #fff;
    text-align: center;
}

.home-part-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

.home-part-content p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.donate-now-button {
    padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #12c6c6;
    border: 0;
    color: #ffffff;
}

.donate-today {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.donate-today-header h1 {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bold;
}

.donate-today-header p {
    font-size: 1.1rem;
    margin-bottom: 45px;
    color: #555555;
}

.donate-amount span {
    padding: 30px 15px;
    margin-bottom: 50px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background-color: #f7f7f7;
    margin-right: 10px;
    color: #555555;
}

.donate-amount span.active {
    border: 2px solid #12c6c6;
    color: #12c6c6;
    background-color: #12c6c625;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.input-field input {
    border: 0;
    width: 635px;
    border-bottom: 1px solid #12c6c6;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
}

.input-field input:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #12c6c6;
}